 .main, .header, .desc, .pol, .footer {
      margin:0;
      border:1px solid #000;
    }

.main {
 background:#fff;
}
.header {
 background:#181a1b;
 padding:10px;
}

.desc {
 color:#494d50;
}

.pol {
 color:#494d50;
}

.footer {
 background:#6d6e70;
}

h2 {
 font-family: 'Staatliches';
 font-size: 18px;
 color:#19c0dc;
 padding:none;
}
