 .main, .header, .desc, .pol, .footer {
      margin:0;
      border:1px solid #000;
    }

.main {
 background:#fff;
}

.header {
 background:#181a1b;
 padding:10px;
}

.desc {
 color:#494d50;
}

.pol {
 color:#494d50;
}

.footer {
 background:#6d6e70;
}

#policies {
 border:none;
 margin:auto;
 width:85%;
}

.tab {
 background-color: #19c0dc;
 font-family: Calibri,sarif;
 color:#ffffff;
 height:30px;
 font-size:16px;
 width:100%;
 margin-top:15px;
}

.poldesc {
 background-color: #ffffff;
 font-family: Calibri,sarif;
 color:#181a1b;
 height:30px;
 font-size:16px;
 width:100%;
 padding-left:10px;
 padding-right:10px;
}
